.env
node_modules
# git init
# git add README.md
# git commit -m "first commit"
# git branch -M main
# git remote add origin https://github.com/Liben1010/Amazon_api_deploy.git
# git push -u origin main